@import url(https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'Rubik', sans-serif;
  font-size: 6rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Rubik', sans-serif;
  font-size: 4rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 6.4rem;
}
.display-4 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'Rubik', sans-serif;
  font-size: 2.5rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 4rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.2rem;
    font-size: calc( 2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.05rem + (4 - 2.05) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 2rem;
    font-size: calc( 1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.525rem + (2.5 - 1.525) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.6rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-sisNBQZ3Si {
  padding-top: 0px;
  padding-bottom: 90px;
  background-image: url("../../../assets/images/display-dummy-915135-1920-1920x1343.jpeg");
}
.cid-sisNBQZ3Si .mbr-text {
  color: #767676;
  margin: 0;
  padding-top: 1.5rem;
}
.cid-sisNBQZ3Si div.b {
  padding-top: 2rem;
}
.cid-sisNBQZ3Si H2 {
  color: #efefef;
}
.cid-sisNBQZ3Si .mbr-section-subtitle {
  color: #cccccc;
  text-align: center;
}
.cid-sis5ksUKlO {
  background-image: url("../../../assets/images/-5.gif");
}
.cid-sis5ksUKlO .mbr-text,
.cid-sis5ksUKlO .mbr-section-btn {
  color: #cccccc;
}
.cid-sis5ksUKlO H3 {
  color: #d191d6;
}
.cid-sis5ksUKlO H1 {
  color: #ffffff;
}
.cid-sitPCNcY73 {
  padding-top: 30px;
  padding-bottom: 15px;
  background-image: url("../../../assets/images/artificial-intelligence-4389372-1920-1920x1280.jpg");
}
.cid-sitPCNcY73 .mbr-text,
.cid-sitPCNcY73 .mbr-section-btn {
  color: #cccccc;
}
.cid-sitPCNcY73 H3 {
  color: #efefef;
}
.cid-siryST021l {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #7158b9;
}
.cid-siryST021l .mbr-section-subtitle {
  color: #ffffff;
}
.cid-siryST021l H2 {
  color: #ffffff;
}
.cid-sioKaS2V49 {
  padding-top: 0px;
  padding-bottom: 60px;
  background: #7158b9;
}
.cid-sioKaS2V49 .images-container.container-fluid {
  padding: 0;
}
.cid-sioKaS2V49 .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-sioKaS2V49 .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-sioKaS2V49 .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-sioKaS2V49 .media-container-row .img-item .img-caption {
  background: #ffffff;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-sioKaS2V49 .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-sioKaS2V49 .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-sioKaS2V49 .img-item {
    width: 100% !important;
  }
  .cid-sioKaS2V49 .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-sioKaS2V49 P {
  color: #000000;
}
.cid-sirAzTl39W {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #7158b9;
}
.cid-sirAzTl39W .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-sirAzTl39W .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-sirAzTl39W .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-sirAzTl39W .media-container-row .img-item .img-caption {
  background: #ffffff;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-sirAzTl39W .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-sirAzTl39W .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-sirAzTl39W .img-item {
    width: 100% !important;
  }
  .cid-sirAzTl39W .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-sirAzTl39W P {
  color: #232323;
}
.cid-sirHyt5lNk {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #7158b9;
}
.cid-sirHyt5lNk .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-sirHyt5lNk .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-sirHyt5lNk .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-sirHyt5lNk .media-container-row .img-item .img-caption {
  background: #ffffff;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-sirHyt5lNk .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-sirHyt5lNk .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-sirHyt5lNk .img-item {
    width: 100% !important;
  }
  .cid-sirHyt5lNk .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-sirHyt5lNk P {
  color: #000000;
}
.cid-sk6mSEHSzS {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #7158b9;
}
.cid-sk6mSEHSzS .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-sk6mSEHSzS .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-sk6mSEHSzS .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-sk6mSEHSzS .media-container-row .img-item .img-caption {
  background: #ffffff;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-sk6mSEHSzS .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-sk6mSEHSzS .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-sk6mSEHSzS .img-item {
    width: 100% !important;
  }
  .cid-sk6mSEHSzS .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-sk6mSEHSzS P {
  color: #000000;
}
.cid-sitSBEOirV {
  padding-top: 30px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/-500x382.jpg");
}
.cid-sitSBEOirV .mbr-text,
.cid-sitSBEOirV .mbr-section-btn {
  color: #cccccc;
}
.cid-sitSBEOirV H3 {
  color: #efefef;
}
.cid-sisKvhL9sq {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #7158b9;
}
.cid-sisKvhL9sq .mbr-section-subtitle {
  color: #ffffff;
}
.cid-sisKvhL9sq H2 {
  color: #ffffff;
}
.cid-s4CdaJ2f7k {
  padding-top: 60px;
  padding-bottom: 60px;
}
.cid-s4CdaJ2f7k .mbr-section-subtitle {
  color: #cccccc;
  text-align: center;
  font-weight: 300;
}
.cid-s4CdaJ2f7k .step {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
}
.cid-s4CdaJ2f7k .separline {
  position: relative;
}
.cid-s4CdaJ2f7k .separline:after {
  top: 24px;
  left: 8px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (10px + 4px) * 2);
  background-color: #ffffff;
}
.cid-s4CdaJ2f7k .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-s4CdaJ2f7k .media-block {
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-s4CdaJ2f7k .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-bottom: 2rem;
  }
}
.cid-s4CdaJ2f7k .mbr-step-text {
  color: #ffffff;
}
.cid-s4CdaJ2f7k .mbr-step-title {
  color: #ffffff;
}
.cid-s4CdaJ2f7k .mbr-section-title {
  color: #000000;
}
.cid-sirE4WDjqO {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #7158b9;
}
.cid-sirE4WDjqO .mbr-section-subtitle {
  color: #cccccc;
  text-align: center;
  font-weight: 300;
}
.cid-sirE4WDjqO .step {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  border: 2px solid #efefef;
}
.cid-sirE4WDjqO .separline {
  position: relative;
}
.cid-sirE4WDjqO .separline:after {
  top: 24px;
  left: 8px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (10px + 4px) * 2);
  background-color: #efefef;
}
.cid-sirE4WDjqO .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-sirE4WDjqO .media-block {
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sirE4WDjqO .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-bottom: 2rem;
  }
}
.cid-sirE4WDjqO .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-sirE4WDjqO .mbr-step-text {
  color: #ffffff;
}
.cid-sirE4WDjqO .mbr-step-title {
  color: #ffffff;
}
.cid-sirE4WDjqO .mbr-section-title {
  color: #000000;
}
.cid-six9t7pBJf {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #7158b9;
}
.cid-six9t7pBJf .mbr-section-subtitle {
  color: #cccccc;
  text-align: center;
  font-weight: 300;
}
.cid-six9t7pBJf .step {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  border: 2px solid #efefef;
}
.cid-six9t7pBJf .separline {
  position: relative;
}
.cid-six9t7pBJf .separline:after {
  top: 24px;
  left: 8px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (10px + 4px) * 2);
  background-color: #efefef;
}
.cid-six9t7pBJf .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-six9t7pBJf .media-block {
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-six9t7pBJf .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-bottom: 2rem;
  }
}
.cid-six9t7pBJf .mbr-step-text {
  color: #ffffff;
}
.cid-six9t7pBJf .mbr-step-title {
  color: #ffffff;
}
.cid-six9t7pBJf .mbr-section-title {
  color: #000000;
}
.cid-sixbrr7Va0 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #7158b9;
}
.cid-sixbrr7Va0 .mbr-section-subtitle {
  color: #cccccc;
  text-align: center;
  font-weight: 300;
}
.cid-sixbrr7Va0 .step {
  width: 20px;
  height: 20px;
  font-size: 10px;
  border-radius: 50%;
  border: 2px solid #efefef;
}
.cid-sixbrr7Va0 .separline {
  position: relative;
}
.cid-sixbrr7Va0 .separline:after {
  top: 24px;
  left: 8px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (10px + 4px) * 2);
  background-color: #efefef;
}
.cid-sixbrr7Va0 .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-sixbrr7Va0 .media-block {
    padding-left: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sixbrr7Va0 .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-bottom: 2rem;
  }
}
.cid-sixbrr7Va0 .media-container-row {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
.cid-sixbrr7Va0 .mbr-step-text {
  color: #ffffff;
}
.cid-sixbrr7Va0 .mbr-step-title {
  color: #ffffff;
}
.cid-sixbrr7Va0 .mbr-section-title {
  color: #000000;
}
.cid-sitPb3kSio {
  padding-top: 30px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/dsc02822-2000x1333.jpg");
}
.cid-sitPb3kSio .mbr-text,
.cid-sitPb3kSio .mbr-section-btn {
  color: #cccccc;
}
.cid-sitPb3kSio H3 {
  color: #efefef;
}
.cid-sixC9cwuEs {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #7158b9;
}
.cid-s4Be0BiZK9 {
  background: #9f5ca4;
  padding-top: 0px;
  padding-bottom: 0px;
  background: linear-gradient(0deg, #9f5ca4, #7158b9);
}
.cid-s4Be0BiZK9 .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-s4Be0BiZK9 .video-block {
    width: 100% !important;
  }
}
.cid-sixEUCKW5I {
  padding-top: 45px;
  padding-bottom: 45px;
  background: #9f5ca4;
}
.cid-sixEUCKW5I .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-sixEUCKW5I .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-sixEUCKW5I .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-sixEUCKW5I .media-container-row .img-item .img-caption {
  background: #9f5ca4;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-sixEUCKW5I .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-sixEUCKW5I .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-sixEUCKW5I .img-item {
    width: 100% !important;
  }
  .cid-sixEUCKW5I .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-sk5LKWIQII {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #c1c1c1;
}
.cid-sk5eqnTQea {
  padding-top: 60px;
  padding-bottom: 60px;
  background-image: url("../../../assets/images/6d2bcf70b39afd5f2e1ab683c1956b81-4-460x168.png");
}
.cid-sk5eqnTQea H1 {
  text-align: left;
}
.cid-sk5eqnTQea .mbr-text,
.cid-sk5eqnTQea .mbr-section-btn {
  text-align: left;
  color: #ffffff;
}
.cid-sk5xGJeIar {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #9f5ca4;
}
.cid-sk5xGJeIar .mbr-text {
  color: #767676;
  margin: 0;
  padding-top: 1.5rem;
}
.cid-sk5xGJeIar div.b {
  padding-top: 2rem;
}
.cid-sk5xGJeIar H2 {
  color: #efefef;
}
.cid-sk5xGJeIar .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
}
.cid-sk5xGJeIar .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-sk60Gx1xEZ {
  padding-top: 60px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/6d2bcf70b39afd5f2e1ab683c1956b81-4-460x168.png");
}
.cid-sk60Gx1xEZ .mbr-text,
.cid-sk60Gx1xEZ .mbr-section-btn {
  color: #cccccc;
}
.cid-sk60Gx1xEZ H3 {
  color: #efefef;
}
.cid-sk6b3mXDu2 {
  padding-top: 30px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/-1280x720.jpg");
}
.cid-sk6b3mXDu2 .mbr-section-subtitle {
  color: #ffffff;
  text-align: center;
  font-weight: 300;
}
.cid-sk6b3mXDu2 .step {
  width: 38px;
  height: 38px;
  font-size: 19px;
  border-radius: 50%;
  border: 2px solid #232323;
}
.cid-sk6b3mXDu2 .separline {
  position: relative;
}
.cid-sk6b3mXDu2 .separline:after {
  top: 42px;
  left: 17px;
  position: absolute;
  content: "";
  width: 2px;
  height: calc(100% - (19px + 4px) * 2);
  background-color: #232323;
}
.cid-sk6b3mXDu2 .media-block {
  flex-shrink: 0;
  -webkit-flex-shrink: 0;
}
@media (min-width: 992px) {
  .cid-sk6b3mXDu2 .media-block {
    padding-right: 2rem;
  }
}
@media (max-width: 991px) {
  .cid-sk6b3mXDu2 .media-block {
    flex-basis: 100%;
    -webkit-flex-basis: 100%;
    padding-bottom: 2rem;
  }
}
.cid-sk6b3mXDu2 .mbr-step-text {
  color: #ffffff;
}
.cid-sk6b3mXDu2 .mbr-step-title {
  color: #ffffff;
}
.cid-sk6b3mXDu2 .mbr-section-title {
  color: #ffffff;
}
.cid-sk6kJCVzBT {
  padding-top: 15px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/dsc02820-2000x1333.jpg");
}
.cid-sk6kJCVzBT .mbr-text,
.cid-sk6kJCVzBT .mbr-section-btn {
  color: #cccccc;
}
.cid-sk6kJCVzBT H3 {
  color: #efefef;
}
.cid-sky2CHL7Rr {
  padding-top: 45px;
  padding-bottom: 30px;
  background: #9f5ca4;
}
.cid-sky2CHL7Rr .images-container.container-fluid {
  padding: 0;
}
.cid-sky2CHL7Rr .media-container-row {
  margin: 0 auto;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-sky2CHL7Rr .media-container-row .img-item {
  display: -webkit-flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-flex-direction: column;
  -webkit-justify-content: center;
}
.cid-sky2CHL7Rr .media-container-row .img-item img {
  width: 100%;
  min-height: 1px;
}
.cid-sky2CHL7Rr .media-container-row .img-item .img-caption {
  background: #ffffff;
  z-index: 2;
  padding: 1rem 1rem;
  word-break: break-word;
}
.cid-sky2CHL7Rr .media-container-row .img-item .img-caption p {
  margin-bottom: 0;
}
.cid-sky2CHL7Rr .media-container-row .img-item.item1 {
  padding: 0 2rem 0 0;
}
@media (max-width: 992px) {
  .cid-sky2CHL7Rr .img-item {
    width: 100% !important;
  }
  .cid-sky2CHL7Rr .img-item.item1 {
    width: 100%;
    flex-basis: initial !important;
    padding: 0 0 2rem 0 !important;
    -webkit-flex-basis: initial !important;
  }
}
.cid-skxSMYqHwB {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #9f5ca4;
  overflow: hidden;
  box-sizing: border-box;
}
.cid-skxSMYqHwB .mbr-slider .carousel-control {
  background: #1b1b1b;
}
.cid-skxSMYqHwB .mbr-slider .carousel-control-prev {
  left: 0;
  margin-left: 2.5rem;
}
.cid-skxSMYqHwB .mbr-slider .carousel-control-next {
  right: 0;
  margin-right: 2.5rem;
}
.cid-skxSMYqHwB .mbr-slider .modal-body .close {
  background: #1b1b1b;
}
.cid-skxSMYqHwB .mbr-gallery-item > div::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #554346;
  opacity: 0;
  -webkit-transition: 0.2s opacity ease-in-out;
  transition: 0.2s opacity ease-in-out;
}
.cid-skxSMYqHwB .mbr-gallery-item > div:hover .mbr-gallery-title::before {
  background: transparent !important;
}
.cid-skxSMYqHwB .mbr-gallery-item > div:hover:before {
  opacity: 0.7 !important;
}
.cid-skxSMYqHwB .mbr-gallery-title {
  font-size: .9em;
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0;
  padding: 1rem;
  color: #fff;
  z-index: 2;
}
.cid-skxSMYqHwB .mbr-gallery-title:before {
  content: " ";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  position: absolute;
  background: #554346 !important;
  opacity: 0.7;
  -webkit-transition: 0.2s background ease-in-out;
  transition: 0.2s background ease-in-out;
}
.cid-skxYRHxC3p {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #9f5ca4;
}
.cid-skxYRHxC3p .mbr-text,
.cid-skxYRHxC3p .mbr-section-btn {
  color: #cccccc;
}
.cid-skxYRHxC3p H3 {
  color: #efefef;
}
.cid-skxRZ0BtbF {
  background: #9f5ca4;
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(0deg, #9f5ca4, #9f5ca4);
}
.cid-skxRZ0BtbF .video-block {
  margin: auto;
}
@media (max-width: 768px) {
  .cid-skxRZ0BtbF .video-block {
    width: 100% !important;
  }
}
.cid-skxXQeDTb4 {
  padding-top: 15px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/dsc02824-2000x1333.jpg");
}
.cid-skxXQeDTb4 .mbr-text,
.cid-skxXQeDTb4 .mbr-section-btn {
  color: #cccccc;
}
.cid-skxXQeDTb4 H3 {
  color: #efefef;
}
.cid-skxOFsshcF {
  padding-top: 90px;
  padding-bottom: 30px;
  background-color: #9f5ca4;
}
.cid-skxOFsshcF .item {
  padding-bottom: 2rem;
}
.cid-skxOFsshcF .item-wrapper {
  height: 100%;
}
.cid-skxOFsshcF .item-wrapper img {
  height: 100%;
  object-fit: cover;
}
.cid-skxOFsshcF .carousel-control,
.cid-skxOFsshcF .close {
  background: #1b1b1b;
}
.cid-skxOFsshcF .carousel-control-prev {
  margin-left: 2.5rem;
}
.cid-skxOFsshcF .carousel-control-next {
  margin-right: 2.5rem;
}
.cid-skxOFsshcF .close {
  position: fixed;
  opacity: 0.5;
  font-size: 35px;
  font-weight: 300;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  color: #fff;
  top: 2.5rem;
  right: 2.5rem;
  line-height: 70px;
  border: none;
  text-align: center;
  text-shadow: none;
  z-index: 5;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  font-family: 'MobiriseIcons';
}
.cid-skxOFsshcF .close::before {
  content: '\e91a';
}
.cid-skxOFsshcF .close:hover {
  opacity: 1;
  background: #000;
  color: #fff;
}
.cid-skxOFsshcF .carousel-control {
  position: fixed;
  width: 70px;
  height: 70px;
  top: 50%;
  margin-top: -35px;
  line-height: 70px;
  border-radius: 50%;
  font-size: 35px;
  border: 0;
  opacity: 0.5;
  text-shadow: none;
  z-index: 5;
  color: #fff;
  -webkit-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}
.cid-skxOFsshcF .carousel-inner > .active {
  display: block;
}
.cid-skxOFsshcF .carousel-control.left {
  left: 0;
  margin-left: 2.5rem;
}
.cid-skxOFsshcF .carousel-control.right {
  right: 0;
  margin-right: 2.5rem;
}
.cid-skxOFsshcF .carousel-control .icon-next,
.cid-skxOFsshcF .carousel-control .icon-prev {
  margin-top: -18px;
  font-size: 40px;
  line-height: 27px;
}
.cid-skxOFsshcF .carousel-control:hover {
  background: #1b1b1b;
  color: #fff;
  opacity: 1;
}
@media (max-width: 768px) {
  .cid-skxOFsshcF .carousel-control,
  .cid-skxOFsshcF .carousel-indicators,
  .cid-skxOFsshcF .modal .close {
    position: fixed;
  }
}
@media (max-width: 767px) {
  .cid-skxOFsshcF .mbr-slider .carousel-control {
    top: auto;
    bottom: 20px;
  }
  .cid-skxOFsshcF .mbr-slider > .container .carousel-control {
    margin-bottom: 0;
  }
}
.cid-skxOFsshcF .carousel-indicators {
  bottom: 0;
  margin-bottom: 3px;
}
@media (max-width: 991px) {
  .cid-skxOFsshcF .carousel-indicators {
    margin-bottom: 3.625rem !important;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}
@media (max-width: 767px) {
  .cid-skxOFsshcF .carousel-indicators {
    display: none;
  }
}
.cid-skxOFsshcF .carousel-indicators .active,
.cid-skxOFsshcF .carousel-indicators li {
  width: 7px;
  height: 7px;
  margin: 3px;
  background: #1b1b1b;
  opacity: 0.5;
  border: 4px solid #1b1b1b;
}
.cid-skxOFsshcF .carousel-indicators .active {
  background: #fff;
}
.cid-skxOFsshcF .carousel-indicators li {
  max-width: 15px;
  max-height: 15px;
  border-radius: 50%;
}
.cid-skxOFsshcF .modal {
  padding-left: 0 !important;
  position: fixed;
  overflow: hidden;
  padding-right: 0 !important;
}
.cid-skxOFsshcF .modal-dialog {
  margin: 0 auto;
  max-width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}
.cid-skxOFsshcF .modal-content {
  border-radius: 0;
  border: none;
  background: transparent;
}
.cid-skxOFsshcF .modal-body {
  padding: 0;
  display: flex;
  align-items: center;
}
.cid-skxOFsshcF .modal-body .carousel-item {
  top: 50%;
  transform: translateY(-50%);
}
.cid-skxOFsshcF .modal-body img {
  width: 100%;
  object-fit: contain;
  max-height: calc(100vh - 1.75rem);
}
.cid-skxOFsshcF .carousel {
  width: 100%;
}
.cid-skxOFsshcF .modal-backdrop.in {
  opacity: 0.8;
}
.cid-skxOFsshcF .modal.fade .modal-dialog {
  -webkit-transition: margin-top 0.3s ease-out;
  -moz-transition: margin-top 0.3s ease-out;
  -o-transition: margin-top 0.3s ease-out;
  transition: margin-top 0.3s ease-out;
}
.cid-skxOFsshcF .modal.fade .modal-dialog,
.cid-skxOFsshcF .modal.in .modal-dialog {
  -webkit-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
}
.cid-skxOFsshcF .mbr-gallery .item-wrapper {
  cursor: pointer;
}
.cid-skxOFsshcF a {
  display: block;
}
.cid-skxOFsshcF a.img {
  pointer-events: none;
}
.cid-sky56tcPzm {
  padding-top: 0px;
  padding-bottom: 90px;
  background-color: #9f5ca4;
}
.cid-sky56tcPzm h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-sky56tcPzm p {
  color: #767676;
  text-align: left;
}
.cid-sky56tcPzm .card-box {
  padding-top: 2rem;
}
.cid-sky56tcPzm .card-wrapper {
  height: 100%;
}
